<template>
    <div class="lui-tabbar">
        <slot>

        </slot>
                
    </div>
</template>
<script>
export default {
    
}
</script>
<style scoped lang="less">
// .weui-tabbar{
//     height: 150px;
//     // line-height: 150px;
//     position:fixed;
//     >*{
//         width: 100%;
//     }
// }
</style>

