
@theme:#1AAD19;
@import './fn.less';
.lui-btn + .lui-btn {
    margin-top: 15px;
}
.lui-btn {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;
    box-sizing: border-box;
    font-size: 18px;/*px*/
    text-align: center;
    text-decoration: none;
   
    line-height: 2.55555556;
    border-radius: 5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    &::after{
        .setBorder(#CCCCCC);
    }
}
// .lui-btn:after {
//     content: " ";
//     width: 200%;
//     height: 200%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     border: 1px solid rgba(0, 0, 0, 0.2);/*no*/
//     -webkit-transform: scale(0.5);
//     transform: scale(0.5);
//     -webkit-transform-origin: 0 0;
//     transform-origin: 0 0;
//     box-sizing: border-box;
//     // border-radius: 10px;
// }
.lui-btn_primary {
    background-color:@theme;
    color: #FFFFFF;
}
.lui-btn_default{

}
.lui-btn_default {
    // height: 76px;
    // line-height: 76px;
    // background: rgba(245, 245, 245, 1);
    // border-radius: 8px;
    // display: block;
    // color: rgba(85, 85, 85, 1); // border: 1px solid #ccc;
    // font-size: 28px;
}
.lui-btn_min{
    display: inline-block;
}