.lui-btn + .lui-btn {
  margin-top: 15px;
}
.lui-btn {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 14px;
  padding-right: 14px;
  box-sizing: border-box;
  font-size: 18px;
  /*px*/
  text-align: center;
  text-decoration: none;
  line-height: 2.55555556;
  border-radius: 5px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}
.lui-btn::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #CCCCCC;
  color: #CCCCCC;
  transform-origin: 0 0;
  transform: scaleY(0.5);
}
.lui-btn_primary {
  background-color: #1AAD19;
  color: #FFFFFF;
}
.lui-btn_min {
  display: inline-block;
}
