.lui-grid {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-items: center;
  justify-content: space-around;
}
.lui-grid .lui-grid_item {
  position: relative;
  width: 33.333333%;
  height: 200px;
}
.lui-grid .lui-grid_item .lui-grid_icon {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
}
.lui-grid .lui-grid_item::after {
  content: " ";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  /*no*/
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  box-sizing: border-box;
}
