@import './fn.less';
.lui-grid {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-items: center;
    justify-content: space-around;
    .lui-grid_item {
        position: relative;
        width: 33.333333%;
        height: 200px;
        .lui-grid_icon{
            margin-top: 50px;
            margin-bottom: 20px;
            width: 50px;
            height: 50px;
        }
        .lui-tabbar__label{}
        // &:nth-child(3),
        // &:nth-child(6),
        // &:nth-child(9),
        // &:nth-child(12),
        //     {
        //     &::after {
        //         width: auto;
        //         height: auto;
        //         border-right: 0;
        //         border-bottom: 0;
        //         .setBottomLine(#CCCCCC);
        //     } //background: red;
        // }
        &::after {
            // .setBorder(#CCCCCC);
            .setRightBottomLine(#CCCCCC);
        }
      
    } // &::after{
    // .setBottomLine(#CCCCCC);
    //  }
}