.lui-form-preview {
    border-top: 1px
}

.lui-cell_title {
    font-size: 32px;
    margin-left: 10px;
    height: 80px;
    line-height: 80px;
}

.lui-cell {
    position: relative;
    display: flex;
    padding: 15px 40px;
    .lui-cell_item {
        flex: 1;
        font-size: 28px;
        /*px*/
    }
    .lui-cell_label {}
    .lui-cell_right {
        font-size: 28px;
        /*px*/
    }
    &.lui-cell_link {
        padding-right: 50px;
        &::after {
            content: " ";
            display: inline-block;
            height: 10px;
            width: 10px;
            border-width: 2px 2px 0 0;
            /*no*/
            border-color: #C8C8CD;
            border-style: solid;
            -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
            transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
            position: relative;
            top: -2px;
            position: absolute;
            top: 50%;
            margin-top: -4px;
            right: 30px;
        }
    }
}