.lui-navbar {
  position: relative;
  height: 90px;
  line-height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.lui-navbar:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #CCCCCC;
  color: #CCCCCC;
  transform-origin: 0 100%;
  transform: scaleY(0.5);
}
.lui-navbar .lui-navbar_item {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}
.lui-navbar .lui-navbar_item.lui-navbar_item_on {
  background-color: #e7e3e3;
}
.lui-navbar .lui-navbar_item:after {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  bottom: 0;
  border-right: 1px solid #CCCCCC;
  color: #CCCCCC;
  transform-origin: 100% 0;
  transform: scaleX(0.5);
}
.lui-navbar .lui-navbar_item:last-child:after {
  display: none;
}
