@import './fn.less';
.lui-navbar{
    position: relative;
    height: 90px;
    line-height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    &:after {
        .setBottomLine(#CCCCCC);
    }
    .lui-navbar_item{
        position: relative;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        text-align: center;
        &.lui-navbar_item_on{
            // color: red;
            background-color: rgb(231, 227, 227);
        }
        &:after {
            .setRightLine(#CCCCCC);
        }
        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}