.lui-tabbar {
  position: fixed;
  display: flex;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #ffffff;
  box-shadow: 3px -5px 8px 1px rgba(0, 0, 0, 0.05);
  /*no*/
}
.lui-tabbar .lui-tabbar_item {
  flex: 1;
  text-align: center;
}
.lui-tabbar .lui-tabbar_icon {
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 5px;
  width: 45px;
}
.lui-tabbar .lui-tabbar__label {
  font-size: 25px;
  /*px*/
  text-align: center;
  height: 32px;
  line-height: 32px;
  padding-bottom: 8px;
}
