<template>
  <div>
    <div class="lui-nav">
       <div 
       class="
       lui-nav_callback
       lui-nav_left_button0">
       
       返回
       </div>
       白难题
       <div class="lui-nav_right_button0 lui-nav_menu">
          
       </div> 
    </div>
    <div>
      <!-- 选择菜单 -->
      <div class="lui-navbar">
         <div class="lui-navbar_item lui-navbar_item_on">
                选择1
         </div>
          <div class="lui-navbar_item">
                选择1
         </div> 
         <div class="lui-navbar_item">
                选择1
         </div>
      </div>
      <!-- 九宫格 -->
      <div class="lui-grid">
          <div 
          v-for=" v in [0,2,3,4,5,6,7,8,9.99]"
          :key="v"
          class="lui-grid_item">
                <img class="lui-grid_icon" src="./icon/home.png"/>
                 <p class="lui-tabbar__label">首页</p> 
          </div>
         
      </div>
         <div>按钮</div>
         <div>
             <div class="lui-btn lui-btn_primary">
                按钮 
             </div>
             <div class="lui-btn lui-btn_default">
                按钮 
             </div>
             <div class="lui-btn lui-btn_min">
                按钮 
             </div>
         </div>
    </div>
    <div class="lui-tabbar">
        <div class="lui-tabbar_item">
            <img class="lui-tabbar_icon" src="./icon/home.png"/>
            <p class="lui-tabbar__label">首页</p> 
        </div>
        <div class="lui-tabbar_item">
            <img class="lui-tabbar_icon" src="./icon/home.png"/>
            <p class="lui-tabbar__label">我的</p> 
        </div>
  
    </div>
  </div>
</template>
<script lang="ts" src="./App.ts">

</script>
<style>
body, html {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}
</style>

